<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Serial Data</title>
    <style>
        
        body{
            padding-top: 10px;
            
            }
        #container {
            position: relative;
            width: 100vw;
            height: 17vh;
            margin-top: 20px;
            display:none;
            padding-top: 15vh;
            
        }
        #car {
            position: absolute;
            bottom: 0;
            width: 20vw;
        }
        #wall {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 20vw;
        }
        #background{
        position: absolute;
            bottom: top;
            right: left;
            width : 100vw;
            height: 100vh;
            z-index : -1;
        }
        .input-fields {
            display: block;
            margin-bottom: 10px;
        }
        
        .input-fields {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding-left: 10px;
        }
        .input-fields label {
        width: 10vw; 
        margin-right: 10px;
        text-align: right;
        color : aliceblue;
        padding-left: 10px;
        }
        .flex-container {
  display: flex;
  flex-wrap: wrap;

}

.flex-item-left {
  flex: 30%;
}
.flex-item-mid{
    flex:10%;
    }

.flex-item-right {
  flex: 60%;
  
}
        
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        let intervalId;
        let dataChart;

        function initializeChart() {
            const ctx = document.getElementById('dataChart').getContext('2d');
            dataChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [], 
                    datasets: [{
                        label: 'Serial Data',
                        data: [], 
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Time'
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Distance'
                            }
                        }
                    }
                }
            });
        }

        function updateChart(data) {
            if (dataChart) {
                dataChart.data.labels.push(new Date().toLocaleTimeString());
                dataChart.data.datasets[0].data.push(data);

                dataChart.update();
            }
        }

        function fetchData() {
            fetch('/data')
                .then(response => response.json()) 
                .then(data => {
                    const serialDataElem = document.getElementById('serial-data');
                    if (data.current >= 300){
                        serialDataElem.innerText = OUT OF RANGE;
                        }
                        else{
                    serialDataElem.innerText = Current Distance: ${data.current};
}
                    const dataListElem = document.getElementById('data-list');
                    dataListElem.innerHTML = ''; 
                    data.history.forEach(item => {
                        const listItem = document.createElement('li');
                        listItem.textContent = item;
                        var listTooMuch = "No Data"
                        if(item >= 300){
                            dataListElem.appendChild(listTooMuch)
                            }
                            else{
                        dataListElem.appendChild(listItem);
                    }
                    });

                    const carElem = document.getElementById('car');
                    const maxDistance = 400;
                    const carPosition = (maxDistance - data.current) / maxDistance * 63;
                    carElem.style.left = ${carPosition}%;

                    updateChart(data.current);
                });
        }
    
        function startFetching() {
            if (!intervalId) { 
                intervalId = setInterval(fetchData, 1000); 
                document.getElementById('start-button').disabled = true; 
                document.getElementById('stop-button').disabled = false; 
                document.getElementById('update-parameters-button').disabled = true;
                
            }
            fetch('/start')
                .then(response => response.text())
                .then(data => {
                    console.log(data); 
                });
        }

        function stopFetching() {
            if (intervalId) {
                clearInterval(intervalId); 
                intervalId = null;
                document.getElementById('start-button').disabled = false; 
                document.getElementById('stop-button').disabled = true; 
                document.getElementById('update-parameters-button').disabled = false; 
                document.getElementById('serial-data').innerText = 'Waiting for data...'; 
                document.getElementById('data-list').innerHTML = ''; 
                document.getElementById('car').style.left = '0'; 
            }
            fetch('/stop')
                .then(response => response.text())
                .then(data => {
                    console.log(data); 
                });
        }

function openSystem() {
    fetch('/open')
        .then(response => response.text())
        .then(data => {
            alert(data);
            document.getElementById('open-button').disabled = false;
            document.getElementById('start-button').disabled = false;
            document.getElementById('stop-button').disabled = true;
            document.getElementById('close-button').disabled = false;
            document.getElementById('update-parameters-button').disabled = false;
            initializeChart();
            document.getElementById('container').style.display = 'block';
            document.getElementById('dataChart').style.display = 'block'; 
        });
}

function closeSystem() {
    fetch('/close')
        .then(response => response.text())
        .then(data => {
            alert(data);
            document.getElementById('open-button').disabled = false;
            document.getElementById('start-button').disabled = true;
            document.getElementById('stop-button').disabled = true;
            document.getElementById('close-button').disabled = true;
            document.getElementById('update-parameters-button').disabled = true;
            document.getElementById('serial-data').innerText = 'Waiting for data...';
            document.getElementById('data-list').innerHTML = '';
            document.getElementById('car').style.left = '0';
            document.getElementById('container').style.display = 'none';
            document.getElementById('dataChart').style.display = 'none'; 
        });
}

window.onload = function() {
    document.getElementById('update-parameters-button').disabled = true;
    document.getElementById('dataChart').style.display = 'none'; 
};

        function updateParameters() {
            const distanceFar = document.getElementById('distanceFar').value;
            const distanceCloser1 = document.getElementById('distanceCloser1').value;
            const distanceCloser2 = document.getElementById('distanceCloser2').value;
            const distanceCloser3 = document.getElementById('distanceCloser3').value;
            const distanceClose = document.getElementById('distanceClose').value;
            const params = ${distanceFar},${distanceCloser1},${distanceCloser2},${distanceCloser3},${distanceClose}\n;
            fetch(/update?params=${params});
        }

        window.onload = function() {
            
            document.getElementById('update-parameters-button').disabled = true;
        };
    </script>

</head>
<body>
    <img id="background" src="{{ url_for('static', filename='background.jpg') }}" alt="Background">
    <h1 style = "color : aliceblue; padding-left: 10px;">Parking SensorEz</h1>
    <p style = "color : aliceblue; padding-left: 10px;"id="serial-data">Waiting for data from sensor ...</p>
    <div style = "padding-left: 10px;">
    <button id="open-button" onclick="openSystem()">Open System</button>
    <button id="start-button" onclick="startFetching()" disabled>Start Fetching Data</button>
    <button id="stop-button" onclick="stopFetching()" disabled>Stop Fetching Data</button>
    <button id="close-button" onclick="closeSystem()" disabled>Close System</button>
</div>

<div class="flex-container">
    <div class="flex-item-left">
<div class="input-fields">
    <label for="distanceFar">Distance Far:</label>
    <input type="number" id="distanceFar" value="250">
</div>
<div class="input-fields">
    <label for="distanceCloser1">Distance Closer But Still Far:</label>
    <input type="number" id="distanceCloser1" value="200">
</div>
<div class="input-fields">
    <label for="distanceCloser2">Distance Mid :</label>
    <input type="number" id="distanceCloser2" value="150">
</div>
<div class="input-fields">
    <label for="distanceCloser3">Distance Close:</label>
    <input type="number" id="distanceCloser3" value="100">
</div>
<div class="input-fields">
    <label for="distanceClose">Distance Very Close:</label>
    <input type="number" id="distanceClose" value="50">
</div>
<div class="input-fields">
    <button id="update-parameters-button" onclick="updateParameters()">Update Parameters</button>
    </div>

    </div>
    <div class="flex-item-mid">
    <ul id="data-list" style = "color : aliceblue;"></ul>
    </div>
    <div class="flex-item-right">
    <div>
        <canvas id="dataChart" style="width:50%"></canvas>
    </div>
    </div>
</div>


    
    <div id="container">
        <img id="car" src="{{ url_for('static', filename='car.png') }}" alt="Car">
        <img id="wall" src="{{ url_for('static', filename='wall.png') }}" alt="Wall">
    </div>

    

</body>
</html>